<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903467072396-agso763lb70acbgo8r1b5i32ugfraks9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903467072396-agso763lb70acbgo8r1b5i32ugfraks9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>903467072396-seaicjekvtecgbsdg19kj9qhvti0cicc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtQRsLTdj1CoOk6nmI_zuaihHJq8A7dbE</string>
	<key>GCM_SENDER_ID</key>
	<string>903467072396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brounie.Yobli</string>
	<key>PROJECT_ID</key>
	<string>yobli-project</string>
	<key>STORAGE_BUCKET</key>
	<string>yobli-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903467072396:ios:9570376b3a8b66098fb4a9</string>
	<key>DATABASE_URL</key>
	<string>https://yobli-project.firebaseio.com</string>
</dict>
</plist>